src/main/mule/mc-customer-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:as2-mule4="http://www.mulesoft.org/schema/mule/as2-mule4"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/as2-mule4 http://www.mulesoft.org/schema/mule/as2-mule4/current/mule-as2-mule4.xsd">
	<flow name="mc-customer-exp-api-main" doc:id="7c62d3ce-6796-4617-b815-efb05f8df365">
		<http:listener
			config-ref="mc-customer-exp-api-listener-config"
			path="${api.version}${api.basePath}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="var : correlationId"
			doc:id="570fd7e5-be19-4067-a811-2550c9ff0c35">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'X-Correlation-Id' default correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="mc-customer-exp-api-config" />
	</flow>
	<flow name="get:\healthCheck:mc-customer-exp-api-config" doc:id="7f7bf41e-8357-4f34-8316-d067e6e12bbf">
		<flow-ref doc:name="health-check-sub-flow"
			doc:id="5ba24f62-11a6-4640-b20a-e5dfc6321555"
			name="health-check-sub-flow" />
	</flow>
	<flow name="mc-customer-exp-api-flow"
		doc:id="44e9c6ca-e9ca-4574-a314-dd771e818f1e">
				<as2-mule4:as2-listener doc:name="As 2 Listener" doc:id="3ed1e570-181c-488b-a75b-ebeb9c99d33a" path="${as2.path}" config-ref="as2-connector-listener-config" connectionTimeout="${as2.connectionTimeout}"/>
<!-- [STUDIO:"Scheduler"]		<scheduler doc:name="Scheduler" doc:id="e5f4204c-b501-42c7-b1ce-036d03eb092b" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler> [STUDIO] -->
<!-- [STUDIO:"EDI Message"]		<set-payload value='#[output text/plain&#10;&#45;&#45;-&#10;read("ST*850*0001~&#10;BEG*00*SA*00847008667856**20240131~&#10;REF*X9*3433086851~&#10;REF*IA*0006746100~&#10;REF*CO*1091973735~&#10;DTM*004*20240131*15122900*20~&#10;DTM*006*20240131*14084300*20~&#10;TD5*****UPSN_CG~&#10;N9*SD*Web~&#10;N1*BT*Jane Dahlgren Bopp~&#10;N3*1420 BRADFORD DR~&#10;N4*COLUMBIA*MO*652032302*US~&#10;PER*BD**TE*2034285966***EM*dahlgrenbopp@yahoo.com~&#10;N1*ST*JANE DAHLGREN BOPP*93*00011~&#10;N3*1420 BRADFORD DR~&#10;N4*COLUMBIA*MO*652032302*US~&#10;PER*BD**TE*2034285966*NP*2034285966*EM*dahlgrenbopp@yahoo.com~&#10;N1*SF*ROCKVILLE WH~&#10;N3*1029 E GUDE DR~&#10;N4*ROCKVILLE*MD*20850*US~&#10;PO1*01*1*EA*26.4*TE*SK*1589882*VN*1589882~&#10;PID*F*08***ORGANIC MAYAN BLEND~&#10;PID*F*GEN***6746100~&#10;PO4******5*LB~&#10;REF*DP*13~&#10;DTM*002*20240208~&#10;DTM*038*20240202~&#10;TD5*****UPSN_CG~&#10;CTT*1~&#10;SE*30*0001~","text/plain")&#93;' doc:name="EDI Message" doc:id="fa64a270-fed2-445d-a059-b3474542e2b6" /> [STUDIO] -->
		<ee:transform doc:name="var : correlationId" doc:id="f0091b59-f0a1-4772-aa99-f8550376071c">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'X-Correlation-Id' default correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-transaction-sub-flow" doc:id="0c03e217-4e0c-49c6-ab19-21d5c8952f03" name="post-transaction-sub-flow"/>
	</flow>
</mule>
