src/main/mule/mc-customer-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:as2-mule4="http://www.mulesoft.org/schema/mule/as2-mule4"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/as2-mule4 http://www.mulesoft.org/schema/mule/as2-mule4/current/mule-as2-mule4.xsd">
	<flow name="mc-customer-exp-api-main">
		<http:listener
			config-ref="mc-customer-exp-api-listener-config"
			path="${api.version}${api.basePath}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="var : correlationId"
			doc:id="570fd7e5-be19-4067-a811-2550c9ff0c35">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'X-Correlation-Id' default correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="mc-customer-exp-api-config" />
	</flow>
	<flow name="get:\healthCheck:mc-customer-exp-api-config">
		<flow-ref doc:name="health-check-sub-flow"
			doc:id="5ba24f62-11a6-4640-b20a-e5dfc6321555"
			name="health-check-sub-flow" />
	</flow>
	<flow name="mc-customer-exp-api-flow"
		doc:id="44e9c6ca-e9ca-4574-a314-dd771e818f1e">
<!-- [STUDIO:"As 2 Listener"]		<as2-mule4:as2-listener doc:name="As 2 Listener" doc:id="3ed1e570-181c-488b-a75b-ebeb9c99d33a" path="${as2.path}" config-ref="as2-connector-listener-config" connectionTimeout="${as2.connectionTimeout}"/> [STUDIO] -->
		<scheduler doc:name="Scheduler" doc:id="bc6bda01-fa4c-4eab-8958-492467aa42e7" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="var : correlationId" doc:id="f0091b59-f0a1-4772-aa99-f8550376071c">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'X-Correlation-Id' default correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-payload value='#["My name is Apurva Jalaik"]' doc:name="Set Payload" doc:id="050d9f2e-ebda-44cf-a776-1c34e2b49535" />
		<flow-ref doc:name="post-transaction-sub-flow" doc:id="0c03e217-4e0c-49c6-ab19-21d5c8952f03" name="post-transaction-sub-flow"/>
	</flow>
</mule>
